
<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">


    <ion-item>
      <ion-label position="stacked">Email Address <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" required [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" required [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" (click)="register()" class="ion-no-margin">Create account</ion-button>
    </div>



  </ion-list>
</ion-content>